@font-face {
  font-family: "headerFont";
  src: url("../fonts/nssans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "bodyFont";
  src: url("../fonts/nssans-regular.woff2") format("woff2");
}

/* ====================== */
/* CSS Vars */
/* ====================== */

html {
  --headerFont: "headerFont", Helvetica, Arial, sans-serif;
  --bodyFont: "bodyFont", Helvetica, Arial, sans-serif;
  --textFontsize: 0.9rem;
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css  */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ====================== */
/* General styling */
/* ====================== */

h1 {
  display: flex;
  justify-content: center;
  color: red;
}

h2 {
  margin: 1rem;
}

form {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #ffc917;
}

fieldset {
  border: none;
  padding: 0.3rem;
}

input {
  margin-bottom: 1em;
  width: 100%;
}

input[type="radio"] {
  margin: 0;
  width: fit-content;
}

.radioWrapper {
  gap: 0.5em;
}

legend {
  font-family: var(--headerFont);
  font-size: var(--textFontsize);
  color: #003082;
  padding-inline: 0;
  margin-bottom: 0.3em;
}

label {
  color: black;
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: var(--textFontsize);
  margin-bottom: 0.5em;
  display: flex;
}

/* styling van ns site */
button {
  color: white;
  background-color: #0063d3;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 -0.125rem 0 #004ba0;
  padding: 0.625rem 1.125rem;
}

/* 
input:focus:invalid {
  background-color: rebeccapurple;
}
naast kleur ook een icon voor slechtziende */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:invalid 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:checked

Hulp van Vasilis */
.optionalChoice + div {
  display: none;
}
.optionalChoice:has([value="ja"]:checked) + div {
  display: block;
}
