@font-face {
  font-family: "headerFont";
  src: url("../fonts/nssans-bold.woff2") format("woff2");
}

@font-face {
  font-family: "bodyFont";
  src: url("../fonts/nssans-regular.woff2") format("woff2");
}

/* ====================== */
/* CSS Vars */
/* ====================== */

html {
  --headerFont: "headerFont", Helvetica, Arial, sans-serif;
  --bodyFont: "bodyFont", Helvetica, Arial, sans-serif;
  --textFontsize: 0.95rem;
  --nsBlue: #0063d3;
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css  */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ====================== */
/* General styling */
/* ====================== */

h1 {
  display: flex;
  justify-content: center;
  color: red;
}

h2 {
  margin: 1rem;
}

/* ====================== */
/* Form styling */
/* ====================== */

form {
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #ffc916;
}

fieldset {
  border: none;
  padding: 0.3rem;
}

input {
  margin-bottom: 1em;
  width: 100%;
  padding: 6px;
  outline: 0;
  border-radius: 3px;
  border: 1px solid #85868a;
}

/* Kleuren van ns */
input[type="text"]:focus {
  border: 1px solid var(--nsBlue);
  box-shadow:
    0 0 0 1px var(--nsBlue),
    0 2px 4px rgba(0, 0, 0, 0.03),
    0 4px 8px rgba(0, 0, 0, 0.03),
    0 8px 16px rgba(0, 0, 0, 0.03);
}
/* 
https://stackoverflow.com/questions/44560597/flexbox-issue-while-aligning-radio-button */
input[type="radio"] {
  margin: 0;
  height: 17px;
  width: 17px;
  flex-shrink: 0;
}

input[type="radio"]:checked {
  accent-color: rgb(0, 168, 137);
}

.radioWrapper {
  gap: 0.5em;
}

.radioWrapper + .radioWrapper {
  margin-top: 1em;
}

input[type="file"] {
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.fileLabel {
  color: #000000;
  font-family: var(--bodyFont);
  margin-top: 1em;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::file-selector-button */

input::file-selector-button {
  color: black;
  padding: 0.5em;
  border: 1px solid var(--nsBlue);
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 0.5em;
}

legend {
  font-family: var(--headerFont);
  font-size: var(--textFontsize);
  color: #003082;
  padding-inline: 0;
  margin-bottom: 0.3em;
  padding-top: 0.8em;
}

label {
  color: black;
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: var(--textFontsize);
  margin-bottom: 0.5em;
  display: flex;
}

/* styling van ns site */
button {
  color: white;
  background-color: var(--nsBlue);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 -0.125rem 0 #004ba0;
  padding: 0.625rem 1.125rem;
  display: flex;
}

/* 
input:focus:invalid {
  background-color: rebeccapurple;
}
naast kleur ook een icon voor slechtziende */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:invalid 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:checked

Hulp van Vasilis */
.optionalChoice + .optionalQuestion,
.radioWrapper + .fileLabel {
  display: none;
}

.optionalChoice:has([value="ja"]:checked) + .optionalQuestion,
.radioWrapper:has([value="ja"]:checked) + .fileLabel {
  display: block;
}
