@font-face {
  font-family: "headerFont";
  src: url("../fonts/nssans-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "bodyFont";
  src: url("../fonts/nssans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ====================== */
/* CSS Vars */
/* ====================== */

html {
  --headerFont: "headerFont", Helvetica, Arial, sans-serif;
  --bodyFont: "bodyFont", Helvetica, Arial, sans-serif;
  --bodyFontsize: 1.1rem;
  --headerFontsize: 1.2rem;
  --radioSize: clamp(17px, 2vw, 20px);
  --nsBlue: #0063d3;
  --nsYellow: rgb(255, 201, 23);
  --nsButtonBlue: rgb(0, 48, 130);
}

/* https://github.com/jensimmons/cssremedy/blob/master/css/remedy.css  */
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* ====================== */
/* General styling */
/* ====================== */

.headerContainer {
  display: flex;
  flex-direction: column;
  margin: 0rem 1.5rem;
}

h1 {
  text-align: center;
  font-family: var(--headerFont);
  color: #003082;
  padding: 1em;
  margin: 0;
  font-size: 1.4rem;
  background-color: var(--nsYellow);
  width: 100%;
}

h2 {
  font-family: var(--headerFont);
  color: #003082;
  font-size: clamp(1.4rem, 1.3429rem + 0.2857vw, 1.6rem);
  padding-bottom: 0.8em;
  border-bottom: 4px solid var(--nsYellow);
  text-align: left;
  width: fit-content;
}

/* ====================== */
/* General form styling */
/* ====================== */

form {
  padding: 0.5rem;
  border-radius: 6px;
  max-width: 550px;
}

@media (min-width: 550px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headerContainer {
    margin: 0;
    align-items: center;
  }
}

fieldset {
  border: none;
  padding: 0.3rem;
  padding-bottom: 1em;
}

fieldset:last-of-type {
  padding-bottom: 0.5em;
}

fieldset fieldset fieldset legend {
  color: black;
  font-family: var(--bodyFont);
  font-size: var(--bodyFontsize);
  padding-bottom: 1.5em;
  padding-top: 0.5em;
  display: flex;
}

.optionalChoice,
.nestedFieldset {
  padding: 0;
  margin: 0;
}

legend {
  font-family: var(--headerFont);
  font-size: var(--headerFontsize);
  color: #003082;
  padding-inline: 0;
}

.nestedLegend {
  padding-top: 0.5em;
}

.title {
  padding-bottom: 0.2em;
}

label {
  color: black;
  font-family: var(--bodyFont);
  font-size: var(--bodyFontsize);
  margin-bottom: 0.5em;
  display: flex;
}

.personInfo,
.partnerInfo {
  margin-bottom: 1.8em;
}

.personInfo label {
  padding-top: 0.4em;
}

.fileLabel {
  color: var(--nsButtonBlue);
  background-color: var(--nsYellow);
  font-family: var(--headerFont);
  font-weight: 700;
  margin-top: 1em;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  width: fit-content;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(228, 181, 25);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
  }
}

.fileLabel div {
  font-family: var(--bodyFont);
  font-weight: 500;
  display: flex;
  gap: 0.5em;
}

#fileName {
  font-family: var(--bodyFont);
  font-size: var(--bodyFontsize);
}

.marriageDiv {
  padding-top: 0.5em;
}

span {
  color: rgb(255, 0, 0);
  margin-left: 0.1em;
}

/* styling van ns site */
button {
  font-family: var(--headerFont);
  color: white;
  background-color: var(--nsBlue);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 -0.125rem 0 #004ba0;
  padding: 0.625rem 1.125rem;
  display: flex;
  margin-left: 0.7rem;
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
  }
}

/* legend > input:has([type="radio"]) {
  color: black;
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: var(--bodyFontsize);
  margin-bottom: 0.5em;
  display: flex;
} */

/* ====================== */
/*    Input styling       */
/* ====================== */

input {
  font-size: inherit;
  margin-bottom: 1em;
  width: 100%;
  padding: clamp(8px, 2vw, 11px);
  outline: 0;
  border-radius: 3px;
  border: none;
  outline: 1px solid #85868a;
}

/* Kleuren van ns */
input:focus {
  outline: 2px solid var(--nsBlue);
  box-shadow:
    0 0 0 1px var(--nsBlue),
    0 2px 4px rgba(0, 0, 0, 0.03),
    0 4px 8px rgba(0, 0, 0, 0.03),
    0 8px 16px rgba(0, 0, 0, 0.03);
  caret-color: black;
}

input:focus-within {
  outline: 2px solid var(--nsBlue);
}

/* 
https://stackoverflow.com/questions/44560597/flexbox-issue-while-aligning-radio-button */
input[type="radio"] {
  display: none;
  /* margin: 0;
  height: var(--radioSize);
  width: var(--radioSize);
  flex-shrink: 0; */
}

input[type="radio"]:focus {
  box-shadow: none;
}

input[type="radio"]:focus-visible {
  outline: 2px solid var(--nsBlue);
  outline-offset: 2px;
}

.radioWrapper {
  padding: 1.1em;
  outline: 1px solid #1739bf;
  color: black;
  gap: 0.5em;
  border-radius: 3px;
  align-items: center;
  cursor: pointer;

  &:hover {
    outline: 1px solid #1739bf;
  }
}

.radioWrapper + .radioWrapper {
  margin-top: 1em;
}

input:user-valid {
  outline: 2px solid rgb(24, 166, 24);
  background-color: rgb(236 255 236);
}

/* input:user-valid:has(.errorMessage) {
  .errorMessage: display none
} */

input:user-invalid {
  outline: 2px solid rgb(212, 60, 60);
  background-color: rgb(251 233 233);
}

input:user-valid:focus,
input:user-invalid:focus {
  outline: 2px solid var(--nsBlue);
}

input[type="date"]:user-invalid {
  outline: 2px solid rgb(212, 60, 60);
}

.radioWrapper:has(input[type="radio"]:user-invalid) {
  outline: 2px solid rgb(212, 60, 60);
  background-color: rgb(251 233 233);
}

.radioWrapper:has(input[type="radio"]:user-valid) {
  outline: 2px solid rgb(24, 166, 24);
  background-color: rgb(217 241 217);
}

.radioWrapper:has(input[type="radio"]:focus-visible) {
  outline: 2px solid var(--nsBlue);
}

.radioWrapper:has(input[type="radio"]:user-invalid:focus) {
  outline: 2px solid var(--nsBlue);
}
.radioWrapper:has(input[type="radio"]:user-valid:focus) {
  outline: 2px solid var(--nsBlue);
}

.radioWrapper:has(input[type="radio"]:checked) {
  outline: 2px solid #1739bf;
  background-color: #f2f8ff;
  font-weight: bold;
}

input[type="file"] {
  display: none;
}

input[type="file"] button {
  padding: 1em;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::file-selector-button */

input::file-selector-button {
  color: black;
  padding: 0.5em;
  border: 1px solid var(--nsBlue);
  background-color: #ffffff;
  border-radius: 3px;
  margin-top: 0.5em;
}

input[type="date"] {
  font-size: var(--bodyFontsize);
  color: rgb(51, 50, 50);
}

/* 
input:focus:invalid {
  background-color: rebeccapurple;
}
naast kleur ook een icon voor slechtziende */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:invalid 
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/:checked

Hulp van Vasilis */
.optionalChoice + .optionalQuestion,
.radioWrapper + .fileLabel,
.marriageDiv {
  display: none;
}

.optionalChoice:has([value="ja"]:checked) + .optionalQuestion,
.radioWrapper:has([value="ja"]:checked) ~ .fileLabel,
.radioWrapper:has([value="ja"]:checked) ~ .marriageDiv {
  display: block;
}

/* ====================== */
/*    Error styling       */
/* ====================== */

/* https://www.youtube.com/watch?v=awNYtIAu6pI */

.errorMessage {
  font-family: var(--headerFont);
  color: rgb(204, 17, 17);
  margin-top: -8px;
  font-size: 0.85rem;
}

.errorMessage:empty {
  display: none;
}

.errorMessage.radio {
  margin-top: 0;
}
